# generic files to ignore
*.log
*.tmp
*~
*.lock
*.DS_Store
*.swp
*.out
[Tt]humbs.db

#Eclipse files
.settings
.classpath
.project

#Java and Maven
*.class
target

#android binaries
bin
gen

#Special Cases
!LoginActivity/libs
!LoginActivity/.classpath
!LoginActivity/.project
!TcpServerActivity/.project
!TcpServerActivity/.classpath
!TcpServerActivity/libs

!TcpServerActivity/.classpath



