<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="il.co.topq.mobile.server.application"
    android:sharedUserId="il.co.topq.mobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />    
    <uses-permission android:name="android.permission.INTERNET"/> 	 
    <instrumentation android:targetPackage="com.gettaxi.driverbox"
       android:name="il.co.topq.mobile.server.impl.RobotiumExecutor"/> 	       
       
        
    <instrumentation android:targetPackage="com.gettaxi.android"
       android:name="il.co.topq.mobile.server.impl.RobotiumExecutorApp2"/> 
    
    <instrumentation android:targetPackage="com.example.testapp"
       android:name="il.co.topq.mobile.server.impl.RobotiumExecutorApp3"/> 
       
       <instrumentation android:targetPackage="com.lexa.fakegps"
      android:name="il.co.topq.mobile.server.impl.RobotiumExecutorApp4"/>                
    

    <application
        android:debuggable="true"
        android:icon="@drawable/robotium"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:description="@string/app_name" android:logo="@drawable/robotium">
        <activity
            android:name="il.co.topq.mobile.server.application.RobotiumServerActivity"
            android:label="@string/title_activity_robotium_server" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service
      		android:name="il.co.topq.mobile.server.impl.ExecutorService"
      		android:process=":remote">
      		<intent-filter>
        		<action android:name="il.co.topq.mobile.server.impl.ExecutorService" />
      </intent-filter>
    </service>
    </application>

</manifest>